---

---

<div class="main-msg">
  <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M5.83594 14.0003L11.6693 19.8337L23.3359 8.16699" stroke="white" stroke-linecap="square"></path>
  </svg>
  <div>
    <p>заявка успешно отправлена</p>
    <small>мы свяжемся с вами в ближайшее время</small>
  </div>
  <button>
    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M21 7L7 21M7 7L21 21" stroke="white" stroke-linecap="square" stroke-linejoin="round"></path>
    </svg>
  </button>
</div>
