---
// Data & Types

// Component
import Layout from "../layouts/Layout.astro";
import Hero from "@components/Hero/Hero";
import CasesSection from "@components/Sections/Case/CasesSection";
import QuizSection from "@components/Sections/Other/QuizSection";
import TeamSection from "@components/Sections/Team/TeamSection";
import ServicesSection from "@components/Sections/Service/ServicesSection";
import CategoriesSection from "@components/Sections/Furniture/CategoriesSection";
import InteriorsSection from "@components/Sections/Interior/InteriorsSection";
import TelegramSection from "@components/Sections/Other/TelegramSection";
import ReviewsSection from "@components/Sections/Review/ReviewsSection";
import ContactSection from "@components/Sections/Contact/ContactSection";
---

<Layout title="Affarts — UX/UI, Дизайн, Разработка для ваших продуктов">
  <main>
    <Hero />
    <CasesSection />
    <QuizSection />
    <TeamSection />
    <ServicesSection />
    <CategoriesSection />
    <InteriorsSection />
    <TelegramSection />
    <ReviewsSection />
    <ContactSection />
  </main>
</Layout>
