---
// Data & Types

// Component
import Layout from "../layouts/Layout.astro";
---

<Layout title="Affarts — UX/UI, Дизайн, Разработка для ваших продуктов">
  <main>
    <section class="bg-black" style="min-height: 100vh;">
      <div class="container">
        <h2 class="mb-8">Sitemap</h2>
        <ul class="flex flex-col gap-4">
          <li class="inline-flex"><a href="/" class="link link--3">Главная</a></li>
          <li class="inline-flex"><a href="/policy" class="link link--3">Политика конфиденциальности</a></li>
        </ul>
      </div>
    </section>
  </main>
</Layout>
