.breadcrumbs {
  display: flex;
  color: $color-white;
  ul {
    display: flex;
    align-items: center;
    gap: pxToRem(8px);
    li:not(:first-child) {
      &::before {
        content: "/";
      }
    }
    li:not(:last-child) {
      color: $color-white;
    }
    li:last-child {
      color: $color-tonal-white-50;
    }
  }
}
