---
// Component
import ErrorHero from "@components/Hero/ErrorHero";
import Layout from "../../layouts/Layout.astro";
import ContactSection from "@components/Sections/Contact/ContactSection";

// Temp
---

<Layout title="404 — Страница не найдена">
  <main>
    <ErrorHero />
    <ContactSection />
  </main>
</Layout>
